<link rel="stylesheet" type="text/css" href="/assets/cropper/cropper.css" />

<h2 id="glyphicons-glyphs">个人资料</h2>

<% if @artist_id %>
    <p>
      <b>化妆师 ID:</b>
      <%= @artist_id %>
    </p>

    <div class="control-group">
      <div class="controls">
        <% if @image_url %>
          <%= image_tag(@image_url, alt: '头像', width: '130', height: '130') %>
        <% end %>
        <button class="btn btn-success avatar-button" data-toggle="modal" data-target="#myModal">更换头像</button>
      </div>
    </div>


    <%= render 'avatar' %>

<% end %>

<script type="text/javascript" src="/assets/cropper/cropper.js"></script>


<script>
    $(function() {
      var $cropper = $(".cropper"),
          $dataX = $("#dataX"),
          $dataY = $("#dataY"),
          $dataH = $("#dataH"),
          $dataW = $("#dataW"),
          cropper;

      $("#inputImage").change(function(){
        if(this.files && this.files[0]){
          var fileReader = new FileReader();
          fileReader.readAsDataURL(this.files[0]);
          fileReader.onload = function() {
            $("#uploadedImage").attr('src', this.result);
            //$cropper.cropper("setImgSrc", this.result);
            $('.preview').show();
            $('.defaultAvatarNotice').hide();
            $('.defaultPreviewNotice').show();

             $cropper.cropper({
                  aspectRatio: 1,
                  data: {
                      x: 10,
                      y: 10,
                      width: 180,
                      height: 180
                  },
                  preview: ".preview",
                  minWidth: 180,
                  minHeight: 180,
                  done: function(data) {
                      $dataX.val(data.x);
                      $dataY.val(data.y);
                      $dataH.val(data.height);
                      $dataW.val(data.width);
                      $("#xposition").val(data.x);
                      $("#yposition").val(data.y);
                      $("#avatar_width").val(data.width);
                  }
                  // autoCrop: false,
                  // dragCrop: false,
                  // modal: false,
                  // moveable: false,
                  // resizeable: false,
              });


          }
        }
      });

      $("#saveAvatarBtn").click(function(){
        $("#avatar_form").submit();
      });

    });
</script>