<%= form_tag("/users/do_forget_password", method: "post", class: "form-horizontal", role: "form") do %>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      找回密码
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">找回方式：</label>
    <div class="col-sm-10">
      <input type="checkbox" name="use_mobile" checked='true'> 手机号找回 &nbsp;&nbsp;
      <input type="checkbox" name="use_email"> 邮箱找回
    </div>
  </div>
  <div class="form-group">
    <label for="inputMobile" class="col-sm-2 control-label">手机号：</label>
    <div class="col-sm-10">
      <input type="text"  name="mobile" class="form-control meiya-text" id="inputMobile" placeholder="手机号" required="required" maxlength="11">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
    <div class="col-sm-10">
      <input type="text"  name="email" class="form-control meiya-text" id="inputEmail" placeholder="邮箱" required="required">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-danger meiya-text">立即发送</button>
    </div>
  </div>
<% end %>