<%= form_tag("/users/do_forget_password", method: "post", class: "form-horizontal", role: "form") do %>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      找回密码
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">找回方式：</label>
    <div class="col-sm-10">
      <input type="checkbox" name="mobile" id="mobile" checked='true'>
      <label for="mobile">手机号找回</label>
       &nbsp;&nbsp;
      <input type="checkbox" name="email" id="email">
      <label for="email">邮箱找回</label>
    </div>
  </div>
  <div class="form-group" id="mobileDiv">
    <label for="inputMobile" class="col-sm-2 control-label">手机号：</label>
    <div class="col-sm-10">
      <input type="text"  name="mobile" class="form-control meiya-text" id="inputMobile" placeholder="手机号" required="required" maxlength="11">
      <i class="meiya-form-control-feedback glyphicon" style="top: 0px; z-index: 100; display: block;"></i>
    </div>
  </div>
  <div class="form-group" id="emailDiv" style="display:none;">
    <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
    <div class="col-sm-10">
      <input type="text"  name="email" class="form-control meiya-text" id="inputEmail" placeholder="邮箱" required="required">
      <i class="meiya-form-control-feedback glyphicon" style="top: 0px; z-index: 100; display: block;"></i>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="submitBtn" class="btn btn-danger meiya-text">立即发送</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    //<![CDATA[
    $(function(){
      // Validate mobile
      mobileValidation('inputMobile');

      // Validate email
      emailValidation('inputEmail');

      // input checkbox bind change action
      $("input[type='checkbox']").change(function(e){
        var type = $(this).attr('name');
        if(type == "mobile"){
          $("#email").attr('checked', false);
          $("#emailDiv").hide();
          $("#mobileDiv").show();
        }else{
          $("#mobile").attr('checked', false);
          $("#mobileDiv").hide();
          $("#emailDiv").show();
        }
      });

    });
    //]]>
</script>