<%= form_tag("/users/do_login", method: "post", class: "form-horizontal", role: "form") do %>

  <% if @message %>
    <div class="form-group">
      <div class="alert alert-danger meiya-alert" role="alert"><%= @message %></div>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      美丫丨多一点美丽
    </div>
  </div>
  <div class="form-group">
    <label for="inputMobile" class="col-sm-2 control-label">用户名：</label>
    <div class="col-sm-10">
      <input type="text"  name="username" class="form-control meiya-text" id="inputMobile" placeholder="手机号" required="required" maxlength="11">
      <i class="meiya-form-control-feedback glyphicon" style="top: 0px; z-index: 100; display: block;"></i>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">密码：</label>
    <div class="col-sm-10">
      <input type="password" name="password"  class="form-control meiya-text" id="inputPassword" placeholder="密码" required="required">
      <i class="meiya-form-control-feedback glyphicon" style="top: 0px; z-index: 100; display: block;"></i>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="" href="/users/forget_password" role="button">忘记密码</a>&nbsp;&nbsp;
      没有账号？<a class="" href="/users/register" role="button">立即注册</a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="submitBtn" class="btn btn-danger meiya-text">化妆师登录</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    //<![CDATA[
    $(function(){
      // Validate mobile
      mobileValidation('inputMobile');

      // Validate password
      passwordValidation('inputPassword');
    });
    //]]>
</script>