<style type="text/css">
#profileForm .form-control-feedback {
    top: 35px;
    right: 0px;
}
</style>

<form id="profileForm">
    <div class="form-group">
        <label>Email address</label>
        <input type="text" class="form-control has-error" name="email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control has-success" name="password" />
    </div>
</form>

  <script type="text/javascript">
    //<![CDATA[

$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The email address is not valid'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    }
                }
            }
        }
    });
});

    //]]>
  </script>