.meiya-container {
  height: 450px;
  margin-top: 50px;
}

.meiya-avatar-div {
  float: right;
  margin-right: 200px;
}

.qrcode-button {
  float: right;
  margin-right: 600px;
}

.meiya-form-gaptext {
  width: 300px;
  padding: 6px 12px;
  margin: 3px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.artist-info {
  font-size: 16px;
}

.avatar-button {
  display: block;
  margin-top: 10px;
}

/* cropper style */
.defaultAvatarNotice {
  color: red;
  text-align: center;
  padding-right: 48px;
}

.defaultPreviewNotice {
  display: none;
  color: red;
  text-align: center;
}

.eg-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.eg-main {
    max-height: 480px;
    margin-bottom: 30px;
}

.eg-wrapper {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    box-shadow: inset 0 0 3px #f7f7f7;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.eg-wrapper img {
    width: 100%;
}

.eg-preview {
    margin-bottom: 15px;
}

.preview {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    background: #f7f7f7;
    display: none;
}

.preview-lg {
    width: 130px;
    height: 130px;
}

.eg-data {
    padding-right: 15px;
}

.eg-data .input-group {
    width: 100%;
    margin-bottom: 15px;
}

.eg-data .input-group-addon {
    min-width: 65px;
}

.col-sm-offset-3 {
  margin-top: 150px;
}

/* Avatar upload */
.avatar-panel {
  padding-left: 50px;
  padding-bottom: 50px;
  height: 320px;
  max-height: 320px;
}

.avatar-footer {
  padding: 15px;
  text-align: right;
}

.meiya-dialog {
  width: 700px;
}

.meiya-alert {
  width: 300px;
  margin-left: 160px;
  margin-bottom: 0;
  padding: 10px;
}

.has-success {
  color: #3c763d;
  border-color: #3c763d;
}

.has-error {
  color: #a94442;
  border-color: #a94442;
}

.meiya-text {
  width: 300px;
}

.meiya-form-control-feedback {
  position: absolute;
  top: 25px;
  left: 310px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.meiya-captcha {
  width: 180px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-brand-img {
    max-width: 50%;
}

.navbar-brand-img {
    max-width: 50%;
}

/* Layout footer */
.footer {
  padding: 40px 0 50px;
  text-align: center;
  background: #333;
  color: #9fa0a0;
  margin-top: 100px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.footer p {
  color: #9fa0a0;
  line-height: 1.8
}
.footer p.copy {
  font-size: 14px
}
.footer a {
  color: #9fa0a0
}
.footer i.em2 {
  width: 1.5em;
  display: inline-block;
  zoom: 1;
  font-style: normal;
}

/* Side bar row*/
.meiya-row {
  width: 200px;
  float: left;
  top: 50px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    top: 51px;
    bottom: 0;
    left: 0;
    width: 160px;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}