<div class="footer">
    <p class="link">
        <a href="/homes/about">关于美丫</a><i class="em2">丨</i>
        <a href="/homes/terms">服务规范</a><i class="em2">丨</i>
        <a href="/homes/contact">联系邮箱</a><i class="em2">丨</i>
        CopyRight ＠ 2014 ShengMei All Rights Reserved.
    </p>
</div>