<% unless @home_page %>
  <div class="row meiya-row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/admin/artists">个人资料</a></li>
        <li class=""><a href="#">服务项目</a></li>
        <li class=""><a href="#">作品集</a></li>
        <li class=""><a href="#">订单管理</a></li>
        <li class=""><a href="#">认证</a></li>
        <li class=""><a href="#">意见反馈</a></li>
      </ul>
    </div>
  </div>
<% end %>